@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel-container:before,
.carousel-container:after,
.delivery-container:before,
.delivery-container:after {
  position: absolute;
  top: 0;
  height: 100%;
  content: "";
  z-index: 2;
}

.carousel-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #008BE7);
}

.carousel-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #008BE7);
}

.delivery-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #FFFFFF);
}

.delivery-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF);
}

.carousel-container:hover .carousel,
.delivery-container:hover .carousel {
  animation-play-state: paused;
}

.carousel {
  animation: 10s slide infinite linear;
}

.carousel-image {
  display: inline;
}
